<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap1.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">

   <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">E-Note</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                   <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
                    <li class="nav-item"><a class="nav-link" href="Features">FEATURES</a></li>
                    <li class="nav-item"><a class="nav-link" href="Pricing">PRICING</a></li>
                    <li class="nav-item"><a class="nav-link active" href="shopping-cart">SHOPPING CART</a></li>
                    <li class="nav-item"><a class="nav-link" href="quiz" >QUIZ</a></li>
                    <li class="nav-item"><a class="nav-link" href="login" id="login"><%=login%></a></li>
   
                   
                </ul>
            </div>
        </div>
    </nav>

        
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Profile</h3>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="assets/img/dogs/image2.jpeg" width="160" height="160">
                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Change Photo</button></div>
                            </div>
                        </div>
                        <div class="card shadow mb-4"></div>
                        <div class="p-5">
                            <div class="text-center"></div>
                            <form class="user">
                                <div class="form-group"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="" readonly name="profile_email"value=<%=email %>></div>
                                <div class="form-group"><input class="form-control form-control-user" type="password" id="new_passwd_update" placeholder="new password" name="new_passwd_update"></div>
                                <input class="form-control form-control-user" type="password" id="new_passwd_confirm"
                                    placeholder="confirm password"  name="new_passwd_confirm" >

                                        


                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small"></div>
                                </div><button class="btn btn-primary btn-block text-white btn-user" type="submit">Change Password</button>
                                <hr>
                            </form>
                            <div class="text-center"></div>
                            <div class="text-center"></div>
                        </div>
                    </div>
                   
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Add Product</p>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="username"><strong>Plan</strong></label><input class="form-control" type="text" placeholder="plan-name" name="add_plan"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="email"><strong>Description</strong></label><input class="form-control" type="text" placeholder="description" name="add_desc"></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="first_name"><strong>Full Support</strong></label><input class="form-control" type="text" placeholder="yes/no" name="add_choice"></div>
                                                    <div class="form-group"><label for="first_name"><strong>Questions</strong><br></label><input class="form-control" type="text" placeholder="questions" name="add_que"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="last_name"><strong>Duration</strong></label><input class="form-control" type="text" placeholder="Duration" name="add_dur"></div>
                                                    <div class="form-group"><label for="first_name"><strong>Price</strong></label><input class="form-control" type="text" placeholder="price USD" name="add_pri"></div>
                                                </div>
                                            </div>
                                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Add<br></button></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Update Product</p>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="username"><strong>Plan</strong></label><input class="form-control" type="text" placeholder="plan-name" name="update_plan"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="email"><strong>Description</strong></label><input class="form-control" type="text" placeholder="description" name="update_desc"></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="first_name"><strong>Full Support</strong></label><input class="form-control" type="text" placeholder="yes/no" name="update_choice"></div>
                                                    <div class="form-group"><label for="first_name"><strong>Questions</strong><br></label><input class="form-control" type="text" placeholder="questions" name="update_que"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="last_name"><strong>Duration</strong></label><input class="form-control" type="text" placeholder="Duration" name="update_dur"></div>
                                                    <div class="form-group"><label for="first_name"><strong>Price</strong></label><input class="form-control" type="text" placeholder="price USD" name="update_pri"></div>
                                                </div>
                                            </div>
                                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Add<br></button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Remove Product</p>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="username"><strong>Plan</strong></label><input class="form-control" type="text" placeholder="plan-name" name="delete_plan"></div>
                                                </div>
                                            </div>
                                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Execute</button></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">List All Products</p>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">List All Products</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-5"></div>
            </div>
        </div>
        <footer class="bg-black sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Enote 2020</span></div>
            </div>
        </footer>


        
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme1.js"></script>
</body>

</html>