


<!DOCTYPE html>
<html>

    <%- include('partials/header') -%>
    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">success Item added to cart now redirecting to cart....</h2>
                </div>
                <script>
                    setTimeout(function(){
                       window.location.href = 'http://localhost:8081/shopping-cart';
                    }, 1000);
                 </script>
            </div>
        </section>
    </main>
    <%- include('partials/footer') -%>
</body>

</html>