<html>
<head> </head>
<body> 
<h1> success Item added to cart now redirecting to cart.... </h1>

<script>
    setTimeout(function(){
       window.location.href = 'http://localhost:8081/shopping-cart';
    }, 1000);
 </script>
 <p>Web page redirects after 2 seconds.</p>

</body>


</html>