<!DOCTYPE html>
<html>

    <%- include('partials/header') -%>
    <main class="page">
             <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Features</h2>
                    <p>Create a quiz or test or an survey in under 2 minutes and that is what it takes.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                        <h4>Multiple File support</h4>
                        <p>You can upload files of different format to form quiz like excel, xml or JSON.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                        <h4>Customizable</h4>
                        <p>You can easily customize in premium version and also add images.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-share icon"></i>
                        <h4>Share Everywhere</h4>
                        <p>You can share your score reports everywhere with just a click.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <h4>All Browser Compatibility</h4>
                        <p>The quiz created by e-note is compatitible with most of the browsers.</p>
                    </div>
                </div>
            </div>
    </main>
    <%- include('partials/footer') -%>
</body>

</html>