<!DOCTYPE html>
<html>


<%- include('partials/header') -%>


        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Profile</h3>
                    <div class="row mb-3">
                        <div class="col-lg-4 col-xl-12">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4"
                                        src="assets/img/dogs/image2.jpeg" width="160" height="160" id="set-pic">
                                    <div class="mb-3"><input type="file" class="btn btn-primary btn-sm" id="pic"></div>
                                </div>
                            </div>
                            <div class="card shadow mb-4"></div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5%
                                                since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5%
                                                since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 offset-xl-3">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3"></div>
                                        <div class="card-body">
                                            <div class="p-5">
                                                <div class="text-center"></div>
                                                <form class="user" method="post"
                                                    action="controllers/password-controller"
                                                    name="profile_change_passwd">
                                                    <div class="form-group"><input
                                                            class="form-control form-control-user" type="email"
                                                            id="exampleInputEmail" aria-describedby="emailHelp" readonly
                                                            placeholder="Enter Email Address..." name="email"
                                                            value=<%=email %>></div>
                                                    <div class="form-group"><input
                                                            class="form-control form-control-user" type="password"
                                                            id="exampleInputPassword" placeholder="Password"
                                                            name="password"></div>
                                                    <div>
                                                        <p class="err_msg">password and confirm password should match
                                                            and have length >= 6</p>
                                                    </div>
                                                    <input class="form-control form-control-user" type="password"
                                                        id="exampleInputPassword-1" placeholder="Password"
                                                        name="password1">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox small"></div>
                                                    </div><button class="btn btn-primary btn-block text-white btn-user"
                                                        type="submit">Change Password</button>
                                                    <hr>
                                                </form>


                                                <style>
                                                    .err_msg {
                                                        margin-left: 11px;
                                                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                                        display: none;
                                                    }
                                                </style>

                                                <!--product field starts-->
                                              
                                                <p class="text-primary m-0 font-weight-bold">Add/Update Product</p>
                                               
                                                <form method="post" action="controllers/product-controller"
                                               
                                                name="add_update_product">
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <div class="form-group"><label
                                                                    for="plan"><strong>Plan</strong></label><input
                                                                    class="form-control" type="text" placeholder="Plan"
                                                                    name="plan"></div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group"><label
                                                                    for="description"><strong>Description</strong></label><input
                                                                    class="form-control" type="text"
                                                                    placeholder="Description" name="description"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <div class="form-group"><label
                                                                    for="full_support"><strong>Full
                                                                        Support</strong></label><input
                                                                    class="form-control" type="text"
                                                                    placeholder="Full Support" name="full_support">
                                                            </div>
                                                            <div class="form-group"><label
                                                                    for="questions"><strong>Questions</strong><br></label><input
                                                                    class="form-control" type="text"
                                                                    placeholder="Questions" name="questions"></div>
                                                            <button class="btn btn-primary btn-sm"
                                                                type="submit">Add<br></button>
                                                                
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group"><label
                                                                    for="duration"><strong>Duration</strong></label><input
                                                                    class="form-control" type="text"
                                                                    placeholder="Duration" name="duration"></div>
                                                            <div class="form-group"><label
                                                                    for="price"><strong>Price</strong></label><input
                                                                    class="form-control" type="text" placeholder="Price"
                                                                    name="price"></div>
                                                        </div>
                                                    </div>
                                                </form>

                                                <form method="post" action="controllers/product-delete-controller">
                                                <div class="col">
                                                    <!-- <div class="card shadow mb-3">
                                                        <div class="card-header py-3"> -->
                                                            <p class="text-primary m-0 font-weight-bold">Remove Product
                                                            </p>
                                                        </div>
                                                        <div class="card-body">
                                                           
                                                                <div class="form-row">
                                                                    <div class="col">
                                                                        <div class="form-group"><label
                                                                                for="username"><strong>Plan</strong></label><input
                                                                                class="form-control" type="text"
                                                                                placeholder="Plan" name="plan_remove">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group"><button
                                                                        class="btn btn-primary btn-sm"
                                                                        type="submit">Execute</button></div>
                                                            
                                                        </div>
                                                    </div>

                                                </form>
                                                    
                                                </div>
                                                <div class="text-center"></div>
                                                <div class="text-center"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-5"></div>
                </div>
            </div>


            <!-- <form method="POST" action="/upload-quiz-json" enctype="multipart/form-data">
                <div>
                    <label>Select your profile picture:</label>
                    <input type="file" name="quiz_json" />
                    <div>
                        <label for="categoroy">Category</label>
                        <select name="category" id="category" required>
                            <option value="GK">GK</option>
                            <option value="Movies">Movies</option>
                            <option value="Science">Science</option>
                            <option value="Sports">Sports</option>
                            <option value="All">All</option>
                        </select>
                    </div>
                </div>
                <div>
                    <input type="submit" name="submit" value="Upload" multiple />
                </div>
            </form> -->



          

            <script>
                $(document).ready(function () {

                    $("#pic").change(function (e) {

                        for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

                            var file = e.originalEvent.srcElement.files[i];

                            var img = document.createElement("img");
                            max_size = 160,
                                width = 160,
                                height = 160;
                            var reader = new FileReader();
                            reader.onloadend = function () {
                                img.src = reader.result;
                            }
                            reader.readAsDataURL(file);
                            $("#set-pic").after(img);
                        }
                    });
                });
            </script>

        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <%- include('partials/footer') -%>

</body>

</html>