<html>
<head> </head>
<body> 
<h1> success  </h1>

<script>
    setTimeout(function(){
       window.location.href = 'http://localhost:8081/';
    }, 1000);
 </script>
 <p>Web page redirects after 2 seconds.</p>

</body>


</html>